
  <main id="main">
    <!-- ======= about Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8" class="section-title" data-aos="zoom-in-down" data-aos-duration="2000" data-aos-mirror="false" data-aos-once="false">
              <h2>about App</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="zoom-in-right" data-aos-duration="2500" data-aos-mirror="false" data-aos-once="false">
            <h3 class="about-title">Details</h3>
            <div class="about-item">
              <h4>Overview</h4>
              <p>aboutMixTape is an app that creates playlists gathered from all new songs in your Release Radar, Daily Weekly, and Daily Mix playlists on your about account.</p>
              <p>aboutMixTape custom playlist will only include songs you haven't previously liked and NOT ones you chose to hide.</p>
              <br>              
              <p>Using the aboutMixTape app daily will save time and energy, allowing you to listen to new content without skipping and changing to another song or playlist to find that hidden gem.</p>
              
            </div>
            <div class="about-item">
              <a href="https://github.com/NoelBram/aboutMixTape" target="github.com/NoelBram/aboutMixTape" ><h4>How it works? <fa-icon class="github" [icon]="gh"></fa-icon></h4></a>
              <p>An Angular-based website with continuous integration deploys and containerization using Docker to Elastic Beanstalk Hosting (on AWS) via a GitHub Action. </p>
            </div>
            
          </div>
            <div class="col-lg-6" data-aos="zoom-in-left" data-aos-duration="2500"data-aos-mirror="false" data-aos-once="false">
              <div class="about-item">
                <div class="card text-center h-100" data-mdb-ripple-color="light">
                  <a href="" target="_blank"><img src="assets/img/spotify.jpg" class="card-img-top" alt="..."/> </a>
                  <div class="card-body">
                    <a routerLinkActive="active" routerLink="/home" class="btn-app">Try it!</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>   
    </section><!-- End about Section -->

  </main><!-- End #main -->