main{
    position: relative;
    margin-bottom: 10px;
    margin-bottom: 300px;
    background-color: #fffbfb;
  }
  .about h2{
    margin-top: 60px;
  }
  .icon-button{
    background: none;
    padding-left: 20px;
    padding: 0;
    border: 0;
    cursor: pointer;
  }
  .icon-button .icon {
    width: 28px;
  }
  
  fa-icon {
    padding-left: 6px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    font-size: 27px;
    padding-right: 7px;
  }
  
  .about-item a:hover {
    color: #5f1919;
    overflow: hidden;
    white-space: nowrap;
  }
  