node_modules
docs
.angular
.elasticbeanstalk
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

database/airflow-venu
database/my_played_tracks.sqlite