  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div fxHide.gt-sm class="social-links">
        <a href="https://www.linkedin.com/in/noelbrambila/" target="_blank" class="linkedIn icon-button"><img class="icon" src="assets/icons/in.svg"></a>
        <a href="https://github.com/NoelBram" target="_blank" class="github icon-button"><img class="icon" src="assets/icons/git.svg"></a>
        <a href="https://www.instagram.com/noel_brambila_/" target="_blank" class="instagram icon-button"><img class="icon" src="assets/icons/ig.svg"></a>
        <a href="https://www.facebook.com/noel.brambila/" target="_blank" class="facebook icon-button"><img class="icon" src="assets/icons/fb.svg"></a>
        <a href="https://open.spotify.com/user/22io3oxgaphrgsxto4naqh4ai?si=09ea5e12617f4a39" target="_blank" class="spotify icon-button"><img class="icon" src="assets/icons/sy.svg"></a>
    </div>
      <div class="copyright">
         Copyright <strong><span>NoahBram</span></strong>. All Rights Reserved &copy; 2022
      </div>
      <div class="credits">
<!-- =======================================================
  Author: Noel Brambila
  License: https://www.linkedin.com/in/noelbrambila/
  ======================================================== -->

        Created by <a href="https://www.linkedin.com/in/noelbrambila/" target="_blank">Noel Brambila</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div (click)="preloader()"></div>

