<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div fxHide fxShow.gt-sm class="pageLinks">
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li><a routerLinkActive="active" routerLink="/home">Login</a></li>
        <li><a routerLinkActive="active" routerLink="/mixtape">Profile</a></li>
        <li><a routerLinkActive="active" routerLink="/mixtape">Mixtape</a></li>
        <li><a routerLinkActive="active" routerLink="/about">DJ</a></li>
      </ul>
    </div>
   
    <div fxHide.gt-sm class="navButton flex-row-reverse">
      <div ngbDropdown class="d-inline-block" #myDrop="ngbDropdown">
        <button class="btn nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>            
          <fa-icon [icon]="mu"></fa-icon>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dorpDownItems">
          <li><a routerLinkActive="active" routerLink="/home">Profile</a></li>
          <li><a routerLinkActive="active" routerLink="/mixtape">Mixtape</a></li>
          <li><a routerLinkActive="active" routerLink="/about">DJ</a></li>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- =======================================================
  Author: Noel Brambila
  License: https://www.instagram.com/noel_brambila_/
  ======================================================== -->