main{
  background-color: #fbfeff;
  padding-top: 270px;
  margin-bottom: 700px;
}
div a {
    text-decoration: unset;
  }
  
div a:hover {
  color: #f3f8fb;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2.5px;
  font-weight: 100;
  font-family: 'Open Sans';
}

