body{
  background-color:#310c0c;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
}

main{
  padding-top: 290px;
  margin-bottom: 410px;
}

.username{
  text-align: left;
  font-weight: 973;
  font-family: 'Open Sans';
  letter-spacing: 2px;
  font-size: 77px;
  color: #5f1919;
  padding-left: 30px;
}

.pageBox{
  border-radius: 17px;
  width: 100%;
  box-shadow: #5f1919;

}

#avatar{
  color: #c56060;
  font-size: 27px;
  border-radius: 17px;
}

svg{
  color: rgb(0, 83, 128); 
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  padding-right: 7px;
  block-size: 27px;
}

#handboy{
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 98% 98%;
  transform-box: fill-box;
}


#girllight
{
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 0% 97%;
  transform-box: fill-box;
}

#hairgirl
{
  animation: swinghair ease-in-out 1.3s infinite alternate;
  transform-origin: 60% 0%;
  transform-box: fill-box;

}

#zero
{
transform-origin:bottom;
transform-box:fill-box;

}

/*************swing************/
@keyframes swing {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}


/*************swing hair************/
@keyframes swinghair {
  0% { transform: rotate(6deg); }
  100% { transform: rotate(-6deg); }
}