<!-- =======================================================
  Author: Noel Brambila
  License: https://www.linkedin.com/in/noelbrambila/
  ======================================================== -->
  <app-header ></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <!--
  <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <a class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="bi bi-arrow-up-short" ></i>
    </a>
  </div>
  -->


