main{
  margin-bottom: 290px;
  background-color: #fffbfb;
  padding-top: 75px;
}


.username{
  text-align: left;
  font-weight: 973;
  font-family: 'Open Sans';
  letter-spacing: 2px;
  font-size: 77px;
  color: #5f1919;
  padding-left: 30px;
}

.pageBox{
  border-radius: 17px;
  width: 100%;
  box-shadow: #5f1919;

}

#avatar{
  color: #c56060;
  font-size: 27px;
  border-radius: 17px;
}

svg{
  color: rgb(0, 83, 128); 
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  padding-right: 7px;
  block-size: 27px;
}

