.hidden {
	display: none
}
.visible {
	display: block
}
.center-text {
	text-align: center
}
.form-control{
	background-color: #ecf7ff;
	margin: 2px 2px 2px 2px;
}
#info .bi{
    background-color: #ecf7ff;
}
::ng-deep .mat-form-field {
    border-color: #19465f;
    border-width: thin;
    .mat-input-element {
        color: #3487b7;
        height: 44px;
        border-color: #3487b7;
        box-shadow: none;
        font-size: 17px;
        padding: 10px 12px;
        border-width: 0.5ex;
        border-radius: 7px;
        font-family: 'Open Sans';
        letter-spacing: 1.5px;
    }
    .mat-form-field-label {
        padding: 30px;
        color: #3487b7;
        height: 100px;
        box-shadow: none;
        font-size: 13px;
        border-radius: 7px;
        font-family: 'Open Sans';
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    .mat-form-field-underline {
        background-color: #3487b7;
    }
    .mat-form-field-ripple {
        background-color: #3487b7;
    }
    .mat-form-field-required-marker {
        color: #3487b7;
    }
}
::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #19465f;
    }
    .mat-form-field-ripple {
        background-color: #19465f;
    }
    .mat-form-field-required-marker {
        color: #19465f;
    }
    .mat-input-element {
        color: #19465f;
    }
}
::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: #a73737;
    }
    .mat-form-field-label {
        color: #a73737;
        .mat-form-field-required-marker {
            color: #a73737;
        }
    }
    .mat-form-field-ripple {
        background-color: #a73737;
    }
}